@charset "utf-8";
@import './settings.scss';
@import '~milligram/src/milligram.sass';

// Utilities
.centered { margin: 0 auto; }
.limit-width { max-width: 40rem; }
.outline { border: 1px solid $color-primary; border-radius: 4px; }
.padded { padding: 2rem; }
.text-align-left { text-align: left; }

// Layout
html {
  text-align: center;
}
.row-centered {
  justify-content: center;
}

// Headings
h1 {
  a {
    color: $color-secondary;
    &:hover { color: $color-primary; }
  }
}

// Navigation
nav {
  margin-bottom: 1rem;
}

// Forms
form {
  @extend .centered;
  @extend .limit-width;
}
label {
  @extend .text-align-left;
}
.field-error {
  @extend .text-align-left;
  color: $color-primary;
  & + input {
    border-color: $color-primary;
  }
}
input[type=date], input[type=time] {
  // a little hack to inherit generic field styles from milligram
  @extend select;
}

// Messages
.message {
  @extend .outline;
  @extend .padded;
  @extend .centered;
  @extend .limit-width;
}
